.icon{
  font-size: 22px;
}
.left-menu{
  width: 60px;
  height: 100vh;
  // border-right: 1px solid #ececec;
  box-shadow: 0 1px 6px #ccc;
  float: left;
  ul{
    // padding: 7px;
    li{
      text-align: center;
      padding: 15px 0;
      cursor: pointer;
      font-size: 12px;
      a{
        color: #919191;
        &:hover{
          color: #404040;
        }
      };
      .router-active{
        color: #404040;
      }
    }
  };
  .logo{
    border-bottom: 1px solid #ececec;
  }
}
.content-wrap{
  overflow: hidden;
  height: 100vh;
  background-color: #f7f7f7;
}