/* You can add global styles to this file, and also import other style files */
@import './assets/ionicons.min.css'; /* 图标库 */
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
body{
  font-size: 12px;
  font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
a{
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  color: #495060
}
.my-loading-bar{
  height: 2px;
  background-color: #2d8cf0;
  position: fixed;
  top: 0;
  left: 0;
}

// msg-style
.msg-wrap{
  width: 100vw;
  position: fixed;
  top: 16px;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  .msg-content{
    border-radius: 4px;
    box-shadow: 0px 0px 6px #ccc;
    background-color: #fff;
    padding: 6px;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    font-size: 14px;
    color: #5a5a5a;
    i{
      margin-right: 5px;
    }
  }
}